
body {
    text-align: center;
    color: white;
    background-color: red;
    font-family: 'Courier New', Courier, monospace;
} 


h1 {
    font-style: normal;
    font-family: 'Courier New', Courier, monospace;
   
}


p1 {
    text-align: center;
}